
body {
    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
}
.search-button,
.search-input{
    border-radius: 10px;
}
header {
    text-align: center;
    padding: 0px 0;

}
div>header{
    background:linear-gradient(90deg,#181818, #616361, #181818, #616361, #181818);
}


#menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10px, 1fr));
    justify-content: center;
    background-color: #606060;
    justify-items: center;
}
nav a {
    color: white;
    text-decoration: none;
    padding: 7px 50px;
    display: inline-block;

}

.search-form{
    align-self: center;
    
}





nav a:hover {
    background-color: rgb(10, 220, 182);
    border-radius: 30px;
    
}
.invisibleDiv:hover{
    background-color: #606060;
    border-radius: 30px;
}



